<h1> New Address for <%= @contact.full_name %> </h1>
<hr />

<%= form_for [@contact, @address] do |f| %>
  <ul>
    <li>Address One: <%= f.text_field :address_one %></li>
    <li>Address Two: <%= f.text_field :address_two %></li>
    <li>City: <%= f.text_field :city %></li>
    <li>State: <%= f.text_field :state %></li>
    <li>Zip Code: <%= f.text_field :zip %></li>
    <li> <%= f.submit "Add Address" %> </li>
  </ul>
<% end %>